@media (max-width: 4200px)

    .bahama-grid
        display: grid
        grid-column-gap: 1.5vw
        margin-top: 2vw
        grid-template-columns: repeat(5, 20vw) 
        grid-template-rows: repeat(11, 20vw)
        margin-bottom: 25em

    .bahama-plan
        width: 100%
        grid-column: 1/4

    .bahama-paragraph
        grid-column: 4/6
        grid-row: 1/3
        width: 350px

    .bahama-section
        width: 50%
        grid-row: 3/4
        grid-column: 2/5
        transform: translateY(10vw)

    .bahama-floor
        width: 30%
        grid-column: 2/5
        grid-row: 4/5
        align-self: center
        transform: translate(7vw, 13vw)

    .bahama-north
        width: 55vw
        grid-row: 5/7
        grid-col: 1/3
        transform: translateX(3vw)

    .bahama-east
        width: 55vw
        grid-row: 7/9
        grid-col: 1/3
        transform: translate(3vw,.5vw)

    .bahama-section-bottom
        width: 110vw
        grid-row: 9/12
        grid-col: 1/5
        transform: translate(3vw,-13vw)

    .down
        transform: translate(4vw, 15vw)

    .bahama-interior-1
        width: 30vw
        justify-self: start
        grid-row: 3/4
        grid-column: 4/6

    .bahama-outside-1
        width: 30vw
        margin-top: 30PX
        justify-self: start
        grid-row: 4/5
        grid-column: 4/6

    .bahama-deck
        width: 30vw
        margin-top: 60PX
        justify-self: start
        grid-row: 5/6
        grid-column: 4/6

    .bahama-interior-2
        width: 30vw
        margin-top: 90PX
        justify-self: start
        grid-row: 6/7
        grid-column: 4/6

    .bahama-interior-3
        width: 30vw
        margin-top: 135px
        justify-self: start
        grid-row: 7/8
        grid-column: 4/6

    .b1
        transform: translateY(-10vw)


@media (max-width: 1200px)
    .bahama-grid
        display: grid
        overflow-x: hidden
        margin-top: 7em
        grid-template-columns: repeat(2, 50vw) 
        grid-template-rows: repeat(10, 50vw)
        margin-bottom: 3em

    .bahama-plan
        grid-template-areas: plan
        width: 95vw
        grid-column: 1/2

    .bahama-paragraph
        grid-area: paragraph
        width: 90vw
        // height: 400px
        padding-left: 5vw
        padding-top: 50px
        justify-self: start
        grid-row: 3/4
        grid-column: 1/3
        

    .bahama-section
        grid-area: section
        width: 45vw
        grid-row: 2/3
        grid-column: 2/3

        
    .bahama-floor
        grid-area: floor
        width: 45vw
        align-self: center
        justify-content: center
        grid-row: 2/3
        grid-column: 1/3

    .bahama-north
        grid-area: north
        width: 90vw
        grid-row: 5/6
        grid-column: 1/3
        // transform: translate(0vw, 20vw)

    .bahama-east
        grid-area: east
        width: 90vw
        grid-row: 6/7
        grid-column: 1/3

    .bahama-section-bottom
        grid-area: bottom
        width: 100vw
        justify-self: start
        grid-row: 7/8
        grid-column: 1/3
        // transform: translate(0vw, 20vw)

    .bahama-interior-1
        grid-area: inter1
        width: 50vw
        justify-self: start
        grid-row: 8/9
        grid-column: 1/2
        margin-top: 20vw

    .bahama-outside-1
        grid-area: out1
        width: 50vw
        justify-self: end
        grid-row: 9/8
        grid-column: 2/3
        margin-top: 40vw
    
    .bahama-deck
        grid-area: out2
        width: 50vw
        justify-self: start
        grid-row: 9/10
        grid-column: 1/2
        margin-top: 6vw
        
    .bahama-interior-2
        grid-area: inter2
        width: 50vw
        justify-self: start
        grid-row: 9/10
        grid-column: 2/3
        margin-top: 26vw
        
    .bahama-interior-3
        grid-area: inter3
        width: 50vw
        justify-self: start
        grid-row: 9/10
        grid-column: 1/2
        margin-top: 42vw

    .b1
        transform: translateY(-10vw)