.banner
    background-image: url('../images/Banner Images/OTB Banner.jpg')
    background-size: cover;
    background-repeat: no-repeat
    height: 30vw;
    width: 95vw
    transform: translatex(2vw)
