.ja
    padding-left: 2em
    

.jacoby-grid
    padding-top: 2em
    //font-size: 20px
    padding-bottom: 1em
    padding-right: 1em

.nexus
    padding-top: 2em
    padding-left: 5%
    padding-bottom: 1em


