
@media (max-width: 4200px)
    .lk1
        grid-area: l1; 
        justify-self: end
        max-height: 45vw ;
        min-height: 45vw ;  
        grid-column: 1/2
        grid-row: 1/3 

    .lk2
        min-height: 28vw ;
        max-height: 28vw ;
        grid-area: l2;
        grid-column: 2/3
        grid-row: 1/2 

    .lk3
        grid-area: l3;
        justify-self: end
        min-height: 16.5vw ;
        max-height: 16.5vw;
        grid-column: 1/2
        grid-row: 1/3 


    .lk4
        grid-area: l4;
        min-height: 13vw ;
        max-height: 13vw;
        grid-column: 2/3
        grid-row: 1/2 


    .lk5
        grid-area: l5;
        min-height: 13vw ;
        max-height: 13vw;
        grid-column: 2/3 
        grid-row: 2/3 


    .k
        grid-area: k;
        max-width: 30vw 
        min-width: 30vw 
        padding: 0
        grid-column: 2/3 
        grid-row: 2/3 


    .lk-grid-1
        grid-area: lg1
        display: grid
        grid-gap: 20px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;


    .lk-grid-2
        grid-area: lg2;
        margin-left: 0vw
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

    .lk-grid
        margin-top: 2%;
        margin-bottom: 6vw;
        margin-left: 0%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'lg1' 'lg2'

@media (max-width: 1200px)
    .lk1
        grid-area: l1; 
        max-height: 70vw ;
        min-height: 70vw ;
        justify-self: center  
        
    .lk2
        min-height: 32vw ;
        max-height: 32vw ;
        grid-area: l2;

    .lk3
        grid-area: l3;
        justify-self: center
        min-height: 69vw ;
        max-height: 69vw;
        

    .lk4
        grid-area: l4;
        min-height: 24.1vw ;
        max-height: 24.1vw;
                

    .lk5
        grid-area: l5;
        min-height: 24vw ;
        max-height: 24vw;
        
        

    .k
        grid-area: k;
        max-width: 80vw 
        min-width: 80vw 
        padding: 0
        
        

    .lk-grid-1
        grid-area: lg1
        display: grid
        grid-gap: 20px;
        justify-items: center
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'l1 l2' 'k k'


    .lk-grid-2
        grid-area: lg2;
        margin-left: 0vw
        display: grid;
        justify-items: center
        grid-gap: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'l4 l5' 'l3 l3' 'l3 l3'

    .lk-grid
        margin-top: 5vw;
        margin-bottom: 6vw;
        overflow-x: hidden
        margin-left: 0%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'lg1' 'lg2'