#aci
    h1.current Current Employment
    .purple-divider 
            h1 ACI Boland Architects, <subtitle> Kansas City, MO </subtitle>
    .aci
        img.aci1(src="images/aci/pam-tavares.jpg", alt="Winning Proposal jpg", srcset="")
        p.paragraph-start.pt1 <b>Pam Health, Tavares, Florida: Project Architect,</b> This single story 48,000 SF rehabilitation hospital, located in Tavares, Florida has 42 private bedrooms with en suite bathroom. The layout and finishes provide a comfortable environment where patients can heal while learning to function independently as much as possible. Each room has views to the beautiful sunny Florida landscape. Tall north-facing windows fill each rehab gymnasium with natural daylight and views to the outside, creating a warm and inviting location for the patients to receive treatment and practice the activities of daily living.          
            </br> </br> I performed construction administration on this project, taking it from permitting to construction completion. My duties included responding to RFIs, Submittals, and on site construction observation. I worked closely with the client and contractor guiding them through Florida’s health care and FGI compliance inspections until final completion.            
            </br> </br> Completed – February 2023
        p.title.pt4.paragraph-start OTHER PROJECTS

        p.paragraph-start.pt2 <b>PAM Health, Sussex, Delaware,</b> Fifty bed two-story rehabilitation hospital currently under construction. I led a team of designers in creating the schematic, DD, and Construction Documents on this project. Guided the client and contractor through Delaware’s permitting process and currently I’m performing construction administration on this project.

        p.paragraph-start.pt3 <b>PAM Health, Miamisburg, OH,</b> A two-story 62 bed rehabilitation hospital with 20 beds devoted to long term acute care. I picked up this project from when an employee left the firm and completed the construction administration. This facility was completed in April 2023. 
