#bahamas

    .purple-divider
        h1 THE BAHAMAS BEACH HOUSE, <subtitle> BAHAMAS</subtitle>
    .bahama-grid
            img.bahama-plan(src="images/Bahamas/Bahama plan.gif", alt="Bahama House Plan", srcset="")

            p.paragraph-start.bahama-paragraph <b>Near the beginning of 2009</b> I became unemployed for a brief period. To retain my design and modeling edge while searching for another opportunity I entered an architectural design competition for a beach house in the Bahamas. Completed in one month, this schematic design was created with conceptual sketches, AutoCAD, and 3D Studio Max. <br> <br> This 8,000 square foot beach house, created for a multi-generational family, was inspired by the conch shell found abundantly in Carribean waters.

            img.bahama-section(src="images/Bahamas/Bahama 4.gif", alt="Bahama House Section", srcset="")

            img.bahama-floor(src="images/Bahamas/Bahama 5.gif", alt="Bahama House Floor", srcset="")

            img.bahama-north.down(src="images/Bahamas/Bahama Elev 1.gif", alt="Bahama Eleveation View 1", srcset="")

            img.bahama-east.down(src="images/Bahamas/Bahama Elev 2.gif", alt="Bahama Eleveation View 2", srcset="")

            img.bahama-section-bottom.down(src="images/Bahamas/Bahama Sections.jpg", alt="Bahama House Section Bottom", srcset="")

            img.bahama-interior-1.b1(src="images/Bahamas/Bahama 1.jpg", alt="Bahama House Interior 1", srcset="")

            img.bahama-outside-1.b1(src="images/Bahamas/Bahama 2.jpg", alt="Bahama House Outside 1", srcset="")

            img.bahama-deck.b1(src="images/Bahamas/Bahama Deck.jpg", alt="Bahama House Outside 2", srcset="")

            img.bahama-interior-2.b1(src="images/Bahamas/Bahama Int 2.jpg", alt="Bahama House Interior 2", srcset="")

            img.bahama-interior-3.b1(src="images/Bahamas/Bahama Int 3.jpg", alt="Bahama House Interior 3", srcset="")
