#skill
    //- .skill Skills

#sketch
    .purple-divider 
        h1 SKETCHES & DRAWINGS
            
    .drawing-grids
        .newest
            img.romewall(src="images/Sketches/roman-wall.png", alt="Rome Wall", srcset="")

        .draw1
            img.botta(src="images/Sketches/Botta Church Orig.gif", alt="Botta Church", srcset="")

            p.paragraph-start.bottatxt An afternoon spent sketching in the small Alpen hamlet of Mogno in Switzerland produced this sketch of Mario Botta's mountain church.
        .draw2
            img.gim1(src="images/Sketches/San Gim 1.gif", alt="", srcset="")
            img.gim2(src="images/Sketches/San Gim 2.gif", alt="", srcset="")
            img.gim3(src="images/Sketches/San Gim 3.gif", alt="", srcset="")

            p.paragraph-start.gimtxt The three sketches above represent a study of the roads and paths through the small Italian hilltop town of San Giminano.

        .draw3
            img.duomo(src="images/Sketches/duomo wall pisa.gif", alt="", srcset="")
            p.paragraph-start.duomotxt Side wall detail of duomo in Pisa, Italy.
        
        .draw4
            img.porta(src="images/Sketches/port_a.gif", alt="", srcset="")
            img.portb(src="images/Sketches/port_b.gif", alt="", srcset="")
            p.paragraph-start.porttxt Conceptual design studies for porte-cochere in Orlando, Florida.
        
        .draw5
            img.logan(src="images/Sketches/Logan Mixed Use.gif", alt="", srcset="")
            p.paragraph-start.logantxt Sketch of mixed-use concept for Logan, Utah downtown.
