

#mobilemenu
  
  .mobilebutton#mb
    .mbmname Orson T Badger 
    .mbm1#grow1
    .mbm2#grow2
  .mbm3#mb3
    ul.dropmenu2
      li.trigger
        a(href="#arch")  Architecture
        ul
          li.trigger.t
            a(href="#aci") Aci Boland
          li.trigger.t
            a(href="#nexus") Nexus
          li.trigger.t
            a(href="#jacoby") Jacoby
          li.trigger.t
            a(href="#jefferson") Jefferson
          //- li.trigger.t
          //-   a(href="#learn-key") Learnkey
          li.trigger.t
            a(href="#world-gateway-hotel") World Gateway Hotel
          li.trigger.t
            a(href="#bahamas") Bahamas
      li.trigger
        a(href="#skill") Skills
        ul
          li.trigger.t
            a(href="#sketch") Sketches & Drawings
          //- li.trigger.t
            a(href="#watercolors") Watercolors

      li.trigger
        a(href="#resume") Resume
#home 
    .block
        img.banner(src="images/Banner Images/OTB Banneredit3.jpg", alt="CoverImage", srcset="")
        .test
            h1.orsonname Orson T. Badger
            h1.architect Architect
            h1.portfolio Portfolio
        h1.bannerArchitectureLogo Architecture
#bigmenu
    nav: ul
      li.ot
        a(href="#arch")  Architecture
        ul.dropmenu
          li.t 
            a(href="#aci") Aci Boland
          li.t
            a(href="#nexus") Nexus
          li.t
            a(href="#jacoby") Jacoby
          li.t
            a(href="#jefferson") Jefferson
          //- li.t
          //-   a(href="#learn-key") Learnkey
          li.t
            a(href="#world-gateway-hotel") World Gateway Hotel
          li.t
            a(href="#bahamas") Bahamas
      li.ot
        a(href="#skill") Skills
        ul.dropmenu
          li.t
            a(href="#sketch") Sketches & Drawings
            a(href="sketch")

      li.ot
        a(href="#resume") Resume