#home 
    //- nav: ul
    //-   li.ot <a href="#arch"> Architecture </a>
    //-     ul.dropmenu
    //-       li.t <a href="#jacoby">Nexus</a>
    //-       li.t <a href="#jacoby">Jacoby</a>
    //-       li.t <a href="#jefferson">Jefferson</a>
    //-       li.t <a href="#learn-key">Learnkey</a>
    //-       li.t <a href="#world-gateway-hotel">World Gateway Hotel</a>
    //-       li.t <a href="#bahamas">Bahamas</a>
    //-   li.ot <a href="#resume"> Skills </a>
    //-     ul.dropmenu
    //-       li.t <a href="#sketches">Sketches & Drawings</a>
    //-       li.t <a href="#watercolors">Watercolors</a>

    //-   a(href="#resume") Resume

    nav: ul
      li.ot
        a(href="#arch")  Architecture
        ul.dropmenu
          li.t
            a(href="#nexus") Nexus
          li.t
            a(href="#jacoby") Jacoby
          li.t
            a(href="#jefferson") Jefferson
          li.t
            a(href="#learn-key") Learnkey
          li.t
            a(href="#world-gateway-hotel") World Gateway Hotel
          li.t
            a(href="#bahamas") Bahamas
      li.ot
        a(href="#skill") Skills
        ul.dropmenu
          li.t
            a(href="#sketch") Sketches & Drawings
          li.t
            a(href="#watercolors") Watercolors

      li.ot
        a(href="#resume") Resume
      

    .block
        img.banner(src="images/Banner Images/OTB Banneredit3.jpg", alt="CoverImage", srcset="")
        .test
            h1.orsonname Orson T. Badger AIA
            h1.portfolio Portfolio
        h1.bannerArchitectureLogo Architecture