#home
    .block
        img.banner(src="images/Banner Images/OTB Banner-edit.jpg", alt="CoverImage", srcset="")
        .test
            h1.orsonname Orson T. Badger AIA
            h1.portfolio Portfolio
        h1.bannerArchitectureLogo Architecture