#home
    .block
        img.banner(src="images/Banner Images/OTB Banner-edit.jpg", alt="CoverImage", srcset="")
        .test
            h1.orsonname Orson T. Badger AIA
            h1.portfolio Portfolio
        h1.bannerArchitectureLogo Architecture

//-     .bannerArchitectureLogo 

//-     font-size: 100px
//-     color: $purple
//-     text-shadow: 2px 1.5px 2px gray
//-     font-family: $avenir-light
//-     letter-spacing: .2em;
//-     position: absolute; 
//-     top: 150px; 
//-     left: 0px; 
//-     width: 100%;


//- .orsonname
//-     font-size: 60px
//-     color: $purple
//-     text-shadow: 2px 1.5px 2px gray
//-     font-family: $avenir-book
//-     font-variant: small-caps
//-     position: absolute; 
//-     top: -80px; 
//-     left: -50px; 
//-     width: 100%;



//- .portfolio
//-     font-size: 40px
//-     color: black
//-     font-family: $avenir-reg
//-     position: absolute; 
//-     top: 0px; 
//-     left: -50px; 
//-     width: 100%;

//- .block
//-    position: absolute; 
//-    top: 300px; 
//-    left: 0; 
//-    width: 100%; 


//- .banner
//-     grid-area: image
//-     background-image: url('../images/Banner Images/OTB Banner-edit.jpg')
//-     background-size: cover;
//-     background-repeat: no-repeat
//-     height: 30vw;
//-     width: 95vw
//-     transform: translatex(2vw)



        //- ul
        //-     text-decoration: none
        //- From Resume.sass