#nexus
    h1.current Current Employment
    .purple-divider 
            h1 Architectural Nexus, <subtitle> SLC, UT </subtitle>
    .nexus
        p.paragraph-start <b>Syracuse Utah Temple,</b> Project Architect for external envelope of The Church of Jesus Christ of Latter-Day Saints' temple located in Syracuse, Utah.
        p.paragraph-start <b>St Luke's Medical Office Building,</b> Designer for the St Luke's Medical Office Plaza located in Boise, Idaho. (Currently on hold).
        p.paragraph-start <b>St Luke's North Tower</b>, Designer for the St Luke's North Tower addition to the hospital campus located in Boise, Idaho. (Currently on hold).

#jacoby
    .purple-divider 
        h1 Jacoby Architects, <subtitle> Salt Lake City, UT</subtitle>
    .jacoby-grid
        .jac1
            img.prt1(src="images/Jacoby/jacoby03.jpg", alt="Winning Proposal jpg", srcset="")

            p.paragraph-start.prt2 <b>Our Winning Proposal</b> and design helped us to win the award for this 3.2 million, approximately 10,000 sf liquor store sited in the picturesque Utah valley on the north end of Utah Lake. As project manager I helped write and design the proposal and design the building.

        .jac2.mb2
            img.prt3(src="images/Jacoby/jacoby01.jpg", alt="Fast Track", srcset="")
            p.paragraph-start.prt4 <b>This Fast Track</b> design-build project was an addition to the University of Utah Guesthouse Hotel on the University's campus in Salt Lake City, Utah. The design for the addition borrowed elements from the original hotel, thus tying design of the two buildings together. I worked on the latter part of Construction Documents and performed Construction Administration.

        .jac3
            img.prt5(src="images/Jacoby/jacoby02.jpg", alt="Maven", srcset="")

            p.paragraph-start.prt6 <b>The Maven Luxury Townhomes</b> are located in the heart of Salt Lake City. This modern design townhome development has 25 units with local access to the downtown amenities. I had the opportunity to perform Construction Administration duties on this project.

