#nexus
    h1.current
    .purple-divider 
            h1 Architectural Nexus, <subtitle> SLC, UT </subtitle>
    .nexus
        img.nexus1(src="images/Nexus/syracuse-temple.jpg", alt="Winning Proposal jpg", srcset="")
        p.paragraph-start.pt1 <b>The Church of Jesus Christ of Latter-day Saints’ Syracuse, Utah Temple: Project Architect,</b> This highly detailed 90,000 sf high-performance temple for the Church of Jesus Christ of Latter-day Saints is sited in northern Utah near the shores of the Great Salt Lake. This beautiful edifice will be clad with stone from one of Italy’s quarries and large stained glass windows. As one of the project architects for this project I assisted the principal architect develop the floor plans, and coordinate the high-performance building envelope. Situated beneath Hill Air Force Base’s flight path and in a seismically active area this project involved some daunting acoustical and structural challenges. I led a team of two other design professionals from our firm and coordinated with structural, mechanical, and electrical consultants each week throughout the documentation phase. This was a highly challenging but thoroughly satisfying project to have the opportunity to work on!
        p.title.pt4.paragraph-start OTHER PROJECTS

        p.paragraph-start.pt2 <b>St Luke's Medical Office Building, Boise ID,</b> Designer for the St Luke's Medical Office Plaza located in Boise, Idaho. (Currently on hold).
        p.paragraph-start.pt3 <b>St Luke's North Tower, Boise ID,</b> Designer for the St Luke's North Tower addition to the hospital campus located in Boise, Idaho. (Currently on hold).

#jacoby
    .purple-divider 
        h1 Jacoby Architects, <subtitle> Salt Lake City, UT</subtitle>
    .jacoby-grid
        .jac1
            img.prt1(src="images/Jacoby/jacoby03.jpg", alt="Winning Proposal jpg", srcset="")

            p.paragraph-start.prt2 <b>Our Winning Proposal</b> and design helped us to win the award for this 3.2 million, approximately 10,000 sf liquor store sited in the picturesque Utah valley on the north end of Utah Lake. As project manager I helped write and design the proposal and design the building.

        .jac2.mb2
            img.prt3(src="images/Jacoby/jacoby01.jpg", alt="Fast Track", srcset="")
            p.paragraph-start.prt4 <b>This Fast Track</b> design-build project was an addition to the University of Utah Guesthouse Hotel on the University's campus in Salt Lake City, Utah. The design for the addition borrowed elements from the original hotel, thus tying design of the two buildings together. I worked on the latter part of Construction Documents and performed Construction Administration.

        .jac3
            img.prt5(src="images/Jacoby/jacoby02.jpg", alt="Maven", srcset="")

            p.paragraph-start.prt6 <b>The Maven Luxury Townhomes</b> are located in the heart of Salt Lake City. This modern design townhome development has 25 units with local access to the downtown amenities. I had the opportunity to perform Construction Administration duties on this project.

