#jacoby
    h1.current Current Employment
    .purple-divider 
            h1 Architectural Nexus, <subtitle> SLC, UT </subtitle>
    .nexus
        p.paragraph-start <b>Syracuse Utah Temple,</b> Project Architect for external envelope of The Church of Jesus Christ of Latter-Day Saints' temple located in Syracuse, Utah.
        p.paragraph-start <b>St Luke's Medical Office Building,</b> Designer for the St Luke's Medical Office Plaza located in Boise, Idaho. (Currently on hold).
        p.paragraph-start <b>St Luke's North Tower</b>, Designer for the St Luke's North Tower addition to the hospital campus located in Boise, Idaho. (Currently on hold).

    
    .purple-divider 
        h1 Jacoby Architects, <subtitle> Salt Lake City, UT</subtitle>
    .jacoby-grid
        //- p.paragraph-start.ja <b>Maven Luxury Townhomes</b>, Salt Lake City, UT. Project Manager, Construction Administration.

        //- p.paragraph-start.ja <b>University of Utah Guesthouse Expansion</b>, Salt Lake City, UT. Project Manager, Construction Administration.

        //- p.paragraph-start.ja <b>Saratoga Springs Liquor Store</b>, Saratoga Springs, UT. Project Manager and Designer, Concept to Construction Documents. (Currently under construction)
