#jefferson
    .purple-divider 
        h1 Jefferson Parish Public School, <subtitle> Gretna, LA</subtitle>
    .jefferson-grid
        .jefferson-grid-1
            img.ji1(src="images/JPPSAB/Bldg photo ext.jpg", alt="Jefferson Parish Public School", srcset="")
            p.paragraph-start.j1 <b>Since Hurricane Katrina</b> in 2005 the Jefferson Parish school board met in a temporary facility until Burgdahl & Graves Architects designed and built a new building, completed in 2012. The new building, built on the same site as the previous, has 94,000 square feet of administration and office spaces, including a new board meeting room and professional development center. The new building is constructed with steel, glass, and masonry. Cost 20.5 million.

        .jefferson-grid-2
            .ji2
            img.ji3(src="images/JPPSAB/Master 1st Floor Model (1).gif", alt="Jefferson Parish Public School", srcset="")
            img.ji4(src="images/JPPSAB/Master 2nd Floor Model (1).gif", alt="Jefferson Parish Public School", srcset="")
            img.ji5(src="images/JPPSAB/Master 3rd Floor Model (1).gif", alt="Jefferson Parish Public School", srcset="")
            .ji8
        .jefferson-grid-3
            img.jisix(src="images/JPPSAB/Hanging wall progression.jpg", alt="Jefferson Parish Public School", srcset="")
            p.paragraph-start.j2 <b>Starting with sketches</b> on trace and modeling in Sketchup helped during the design phase. 3D Sketchup models were used to help visualize the spaces and provide the client with a clear vision on what the final product would be.
        .jefferson-grid-4
            img.dumb(src="images/JPPSAB/Entry Columns progression.jpg", alt="Jefferson Parish Public School", srcset="")
            p.paragraph-start.j3 <b>My three-dimensional</b> modeling skills helped me to provide the structural engineers with an idea of how to engineer the design of the entry and board room spaces.