#learn-key
    .purple-divider
        h1 LEARNKEY CORPORATE OFFICE, <subtitle>ST. GEORGE, UT</subtitle>
    .lk-grid

        .lk-grid-1
            img.lk1(src="images/Learn Key/LK Loft.jpg", alt="Learn Key Loft")
            img.lk2(src="images/Learn Key/LK Reception.jpg", alt="Learn Key Reception")
            p.paragraph-start.k  <b>Built in the early 1900’s,</b> the St. George, Utah, Main Street Theater had become rundown. With the Sketchup models I created we worked closely with the client, helping them envision office space for their new company, LearnKey. After being updated to modern-day seismic standards we redesigned the theater into an exciting new office space where old style meets new.
        .lk-grid-2
            img.lk3(src="images/Learn Key/LK Mezz.jpg", alt="Learn Key Mezz")
            img.lk4(src="images/Learn Key/Main St 1.jpg", alt="Learn Key")
            img.lk5(src="images/Learn Key/Main St 2.jpg", alt="Learn Key")
