#world-gateway-hotel
    .purple-divider
        h1 World Gateway Hotel, <subtitle>Orlando, FL</subtitle>
    .hotel-grid 
        img.c1.i(src="images/World-Gateway-Hotel/sketch 1.jpg", alt="World Gateway Hotel concept 1", srcset="")
        img.c2.i(src="images/World-Gateway-Hotel/sketch 2.jpg", alt="World Gateway Hotel concept 2", srcset="")
        img.c3.i(src="images/World-Gateway-Hotel/sketch 3.jpg", alt="World Gateway Hotel concept 3", srcset="")
        img.c4.i(src="images/World-Gateway-Hotel/sketch 4.jpg", alt="World Gateway Hotel concept 4", srcset="")
        img.c5.i(src="images/World-Gateway-Hotel/sketch 5.jpg", alt="World Gateway Hotel concept 4", srcset="")

        p.paragraph-start.sub <b>Early concept art</b>     

        .hero


        p.paragraph-start.text <b>World Gateway Hotel</b> The World Gateway Hotel was to be built on South International Drive in Orlando, FL. The design, inspired by the Bird of Paradise flower found in Florida, was to become a fine world class hotel. If built it would have contained 400 units and 500 keys, two ballrooms, several meeting rooms, a restaurant, pool deck amenities, and a fitness center.  
            <img class="bird" src="images/World-Gateway-Hotel/bird-of-paradise-flower2.jpg" alt="World Gateway Hotel concept 3" srcset=""/>

        img.floor(src="images/World-Gateway-Hotel/WG Floorplan txt.gif", alt="World Gateway Hotel concept 4", srcset="")